[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tensorflow = "*"
keras-preprocessing = "*"
sklearn = "*"
scikit-learn = "*"
mlxtend = "*"

[dev-packages]

[requires]
python_version = "3.10"
